.main{
    padding: 2%;
    text-align: center;
    font-size: 1em;
    display: flex;
    flex-direction: column;
}

.h2{  
    font-size: 1.5em;
    font-weight: bolder;
    color: #800236;
    text-transform: uppercase;
}

.div{
    display: flex;
    align-items: center;
    padding: 1%;
    height: 20em;
}

.div2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 1%;
    height: 20em;
}

.div3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    height: 30em;
}

.p{
    padding: 1%;
    text-align: center;
    width: 70%;
}

.p::before{
    content: attr(data-desktoptext);
}

.img{
    height: 15em;
    width: 35%;
    border-radius: 2%;
}

.iframe{
    /* position: relative; */
    width: 500px;
    height: 25em;
    border: 0%;
}

.wsp2{
    display: none;
}

@media screen and (max-width: 850px) {

    .main{
        padding: 1%;
        margin-bottom: 5%;
    }
    .h2{
        margin-bottom: 3%;
    }
    .div{
        flex-direction: column-reverse;
        padding: 2%;
    }
    .div2{
        flex-direction: column-reverse;
        padding: 2%;
    }
    .p:before {
        content: attr(data-phonetext);
    }
    .p{
        justify-content: center;
        font-size: medium;
        text-align: center;
        width: 80%;
        height: 9em;
    }
    .img{
        padding: 1%;
        border-radius: 8%;
        height: 12em;
        width: 80%;
    }
    .div3{
        margin-bottom: 5%;
    }
    .iframe{
        width: max-content;
        height: 15em;
    }
    .wsp{
        display: none;
    }
    .wsp2{
        display: inline;
    }
}


