.main{
    text-align: center;
    font-size: 1em;
    display: flex;
    flex-direction: column;
}

.h2{  
    font-size: 1.5em;
    font-weight: bolder;
    color: #800236;
    text-transform: uppercase;
}

.div{
    display: flex;
    align-items: center;
    padding: 32px;
    height: 20em;
}

.div2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 32px;
    background-color: #111111;
    height: 20em;
}

.div3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    height: 30em;
}

.p{
    padding: 1%;
    text-align: center;
    width: 55%;
}

.p::before{
    content: attr(data-desktoptext);
}

.img{
    height: 18em;
    width: 45%;
    border-radius: 32px;
    padding: 16px;
}

.iframe{
    width: 500px;
    height: 25em;
    border: 0%;
}

.btnPresu {
    background-color: #800236;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    border-radius: 8px; 
}

.wsp{
    display: inline-block;
    padding: 8px;
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 850px) {

    .main{
        padding: 1%;
        margin-bottom: 5%;
    }
    .h2{
        margin-bottom: 3%;
    }
    .div{
        flex-direction: column-reverse;
        padding: 2%;
    }
    .div2{
        flex-direction: column-reverse;
        padding: 2%;
    }
    .p:before {
        content: attr(data-phonetext);
    }
    .p{
        justify-content: center;
        font-size: medium;
        text-align: center;
        width: 80%;
        height: 9em;
    }
    .img{
        padding: 1%;
        border-radius: 8%;
        height: 12em;
        width: 80%;
    }
    .div3{
        margin-bottom: 5%;
    }
    .iframe{
        width: max-content;
        height: 15em;
    }
}

@media screen and (min-width: 1500px) {
    .img {
        height: 21em;
    }
}
