.divForm {
    height: 60em;
    margin: 1%;
    margin-bottom: 5%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2{
  font-weight: bolder;
}

.p {
    text-align: center;
    padding: 2%;
}

.form {
    border: 1px solid gray;
    border-radius: 4px;
    margin: 2%;
    margin-top: 5%;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.button {
    border: 2px solid darkgray;
    border-radius: 4px;
    padding: 1%;
    margin: 1%;
    color: #000;
    background-color: blanchedalmond;
}

@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 2;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 2;
    }
}

@media screen and (max-width: 850px) {
    .divForm{
        height: 60em;
        background: rgb(240,240,240);
        background: radial-gradient(circle, rgba(240,240,240,1) 47%, rgba(0,0,0,1) 66%);
        -webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	      animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    .img{
      -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    @-webkit-keyframes scale-in-center {
      0% {
        -webkit-transform: scale(-1);
                transform: scale(-1);
        opacity: 1;
      }
      100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
      }
    }
    @keyframes scale-in-center {
      0% {
        -webkit-transform: scale(-1);
                transform: scale(-1);
        opacity: 1;
      }
      100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
      }
    }
    
}
