.main {
    text-align: center;
}

.h2 {
    font-size: 2em;
    font-weight: bold;
    color: #800236;
    font-family: cursive;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reparacion{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 2%;
    width: 60%;
    border-radius: 2%;
}

.banner {
    height: 20em;
    width: 100%;
    border-radius: 2%;
}

.banText {
    position: absolute;
    text-align: start;
    background-color: black;
    border-top: 1px solid white;
    border-radius: 2%;
    height: 3em;
    width: 60%;
    padding: 1%;
    opacity: 0.8;
}

.button {
    background-color: #800236;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5%; 
}

@media screen and (max-width: 850px) {
    .button {
        margin-bottom: 4em;
    }
    
    .reparacion{
        width: 80%;
    }

    .banner {
        height: 12em;
    }
    
    .banText {
        width: 80%;
    }
}

@media screen and (min-width: 1700px) {
    .banner {
        height: 30em
    }
}
